<<<<<<< HEAD
@font-face {
    font-family: "chill";
    src: url(../assets/fonts/chill.woff);
}

@font-face {
    font-family: "satoshi";
    src: url(../assets/fonts/satoshi.woff);
=======
@font-face {
    font-family: "chill";
    src: url(../assets/fonts/chill.woff);
}

@font-face {
    font-family: "satoshi";
    src: url(../assets/fonts/satoshi.woff);
>>>>>>> c5f371d1b7fc13aeae64b37fed14ca90afa5bd63
}