main {
  max-width: 1600px;
  margin: 0 auto;

  section.view1 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .top {
      width: 100%;

      img {
        width: 100%;
        border-radius: 10px;
      }
    }

    .bottom {
      width: 100%;
      background-color: $primary-back;
      @include flex-column(4rem);
      padding: 1.6rem;
      border-radius: 8px;

      > p {
        font-size: 0.8rem;
        letter-spacing: 2px;
        font-weight: 600;
        font-family: $parafont;
      }

      .text {
        @include flex-column(1rem);

        h1 {
          color: $primary-white;
          font-family: $headingfont, system-ui, -apple-system,
            BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
            "Open Sans", "Helvetica Neue", sans-serif;
          font-size: 2.25rem;
          text-transform: uppercase;
          font-weight: 400;
          line-height: 1.2;
          padding: 0rem 1rem 0rem 0rem;
        }

        p {
          color: $primary-grey;
          font-family: $parafont, system-ui, -apple-system, BlinkMacSystemFont,
            "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
            "Helvetica Neue", sans-serif;
          font-size: 1.3rem;
          line-height: 1.5;
        }

       .btn{
         @include btn-style();
         p{
          font-size: 1rem;
          color: $primary-white;
         }
        }
      }
    }
  }

  section.view2 {
    width: 100%;
    @include flex-column(2rem);
    padding: 1rem;

    .row {
      display: flex;
      width: 100%;
      justify-content: space-around;

      .element {
        text-align: center;
        font-family: $headingfont;
        @include flex-column(0.2rem);

        small {
          font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
            Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
            sans-serif;
          font-weight: 300;
          font-size: 0.9rem;
          letter-spacing: 2px;
          opacity: 0.7;
        }

        h2 {
          font-size: 2.25rem;
          color: $primary-white;
          font-weight: 400;
        }
      }
    }
  }

  section.view3 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;

    .philosophy {
      @include flex-column(1rem);

      .top,
      .bottom {
        width: 100%;

        img {
          width: 100%;
          border-radius: 10px;
          opacity: 0.8;
        }
      }

      .bottom {
        background-color: $primary-back;
        padding: 2rem;
        border-radius: 10px;
        @include flex-column(4rem);

        h3 {
          font-family: $robotofont;
          font-size: 0.9rem;
          color: $primary-white;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 3px;
        }

        .text {
          @include flex-column(1rem);

          h2 {
            font-size: 2.1rem;
            color: $primary-white;
            font-family: $headingfont;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 2.9rem;
          }

          .paragraphs {
            @include flex-column(0rem);
            p {
              font-family: $parafont;
              color: rgba(255, 255, 255, 0.463);
              font-size: 1rem;
              font-weight: 500;
              line-height: 1.5rem;
            }
          }
        }
      }
    }

    .vision {
      @extend .philosophy;
    }
  }

  section.view4 {
    width: 100%;
    @include flex-column(1rem);
    padding: 0 1rem;
    .heading {
      padding: 0 1rem;
      width: 100%;
      display: flex;
      justify-content: space-between;

      h1 {
        font-size: 2rem;
        color: $primary-white;
        font-family: $headingfont;
        text-transform: uppercase;
        font-weight: 400;
      }

      .btn {
        @include btn-style();
        visibility: hidden;
      }
    }

    .team-members {
      @include flex-column(1rem);

      .card {
        width: 100%;
        padding: 1rem;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        aspect-ratio: 1 / 1;
        border-radius: 0px;

        @include flex-column(1rem);
        justify-content: space-between;

        .top {
          width: 100%;
          display: flex;
          justify-content: end;
          gap: 0.5rem;

          i {
            font-size: 1rem;
            font-weight: 100;
            color: $primary-white;
            background-color: #ffffff0d;
            padding: 0.8rem;
            border-radius: 50%;
            backdrop-filter: blur(5px);
            border: 1px solid rgba(255, 255, 255, 0.15);
          }
        }

        .bottom {
          display: flex;
          justify-content: space-between;
          align-items: center;
          background-color: #ffffff0d;
          border-radius: 8px;
          padding: 1rem;
          backdrop-filter: blur(40px);
          text-transform: uppercase;
          letter-spacing: 1px;
          color: $primary-white;

          h3 {
            font-size: 1.25rem;
            font-family: $headingfont;
            font-weight: 400;
          }

          p {
            font-size: 0.9rem;
            font-family: $robotofont;
          }
        }
      }

      #first {
        background-image: url(../assets/images/mccoy.webp);
      }
      #second {
        background-image: url(../assets/images/cooper.webp);
      }
      #third {
        background-image: url(../assets/images/marvin.webp);
      }
    }
  }

  section.view5 {
    width: 100%;
    @include flex-column(1rem);
    padding: 1rem;
    .top {
      width: 100%;
      overflow: hidden;
      border-radius: 10px;
      img {
        width: 100%;
        border-radius: 10px;
        opacity: 0.7;
        scale: 1.1;
      }
    }

    .bottom {
      background-color: $primary-back;
      border-radius: 8px;
      padding: 1.5rem;
      @include flex-column(4rem);
      justify-content: space-between;

      .text {
        p {
          font-size: 0.9rem;
          color: $primary-grey;
          font-weight: 400;
          font-family: $robotofont;
          margin-bottom: 1rem;
        }

        h1 {
          font-size: 2rem;
          width: 80%;
          font-weight: 500;
          color: $primary-white;
          font-family: $headingfont;
          line-height: 120%;
        }
      }
      .btn {
        @include btn-style();
      }
    }
  }

  section.footer-grid {
    width: 100%;
    // @include flex-column(1rem);
    display: grid;
    grid-template-areas:
      "block1"
      "block2"
      "block3"
      "block4";
    gap: 1rem;
    padding: 0rem 1rem 1rem;
    text-transform: uppercase;

    .block1 {
      grid-area: block1;
      width: 100%;
      @include flex-column(1rem);
      background-color: #cebd63;
      padding: 1.7rem;
      border-radius: 10px;

      .text {
        @include flex-column(1rem);
        p {
          font-size: 0.9rem;
          font-family: $robotofont;
          font-weight: 400;
          color: $primary-back;
        }
        h1 {
          font-size: 2.5rem;
          font-family: $headingfont;
          color: $primary-back;
          font-weight: 400;
          line-height: 100%;
        }
      }
      button {
        background-color: #161616;
        font-family: $robotofont;
        font-size: 0.9rem;
        font-weight: 400;
        padding: 1rem 1.25rem;
        border: none;
        outline: none;
        border-radius: 10px;
        text-transform: uppercase;
        color: $primary-white;
      }
    }

    .block2 {
      grid-area: block2;
      width: 100%;
      @include flex-column(4rem);
      justify-content: space-between;
      background-color: $primary-back;
      padding: 1.7rem;
      border-radius: 10px;

      p {
        font-size: 1.3rem;
        color: $primary-white;
        font-weight: 400;
      }
      .social-group {
        display: flex;
        gap: 0.5rem;

        i {
          font-size: 1rem;
          font-weight: 100;
          color: $primary-white;
          background-color: #ffffff0d;
          padding: 0.6rem;
          border-radius: 50%;
          backdrop-filter: blur(5px);
          border: 1px solid rgba(255, 255, 255, 0.15);
        }
      }
    }

    .block3 {
      grid-area: block3;
      width: 100%;
      @include flex-column(3rem);
      background-color: $primary-back;
      padding: 1.7rem;
      border-radius: 10px;

      .link-group {
        @include flex-column(1.5rem);
        width: 100%;

        h3 {
          font-family: $headingfont;
          font-size: 1.25rem;
          color: white;
          font-weight: 500;
        }
        .links {
          @include flex-column(1.5rem);
          font-family: $robotofont;
          font-size: 0.9rem;
          font-weight: 400;
          color: $primary-grey;
          letter-spacing: 1px;

          button {
            background-color: #cebd63;
            width: fit-content;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 0.9rem;
            font-family: $robotofont;
            font-weight: 500;
            color: $primary-back;
            border-radius: 10px;
            padding: 1rem 1.25rem;
            letter-spacing: 1px;
          }
        }
      }
    }

    .block4 {
      grid-area: block4;
      width: 100%;
      @include flex-column(2rem);
      align-items: center;
      background-color: $primary-back;
      padding: 2rem;
      border-radius: 10px;
      font-family: $robotofont;
      p {
        text-align: center;
        font-size: 1rem;
        font-weight: 400;
        color: $primary-grey;

        span {
          color: $primary-white;
          text-decoration: underline;
        }
      }
      .btn {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        h5 {
          text-align: center;
          font-size: 1rem;
          font-weight: 400;
          color: $primary-white;
        }
        i {
          color: $primary-white;
          font-size: 1.2rem;
          background-color: rgb(36, 36, 36);
          padding: 0.5rem;
          border-radius: 50%;
          border: 1px solid rgba(255, 255, 255, 0.15);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  main {
    section.view1 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        justify-content: space-between;
        padding: 4.5rem;

        .text {
          gap: 0.9rem;

          h1 {
            font-size: clamp(2.5rem, 4vw, 4rem);
          }

          button {
            padding: 0.4rem 1rem;
          }
        }
      }
    }

    section.view2 {
      flex-direction: row;
      gap: 0;
      justify-content: space-around;
      padding: 3rem 0rem;

      .row {
        width: 50%;
        .element {
          h2 {
            font-size: clamp(2.5rem, 4vw, 4rem);
          }
        }
      }
    }

    section.view3 {
      .philosophy,
      .vision {
        .top {
          width: 50%;
        }
        .bottom {
          padding: 4rem;
          width: 50%;
          justify-content: space-between;

          .text {
            gap: 2rem;
            h2 {
              font-size: 3rem;
            }
            .paragraphs {
              flex-direction: row;
              p {
                font-size: 1.2rem;
                line-height: 1.8rem;
              }
            }
          }
        }
      }

      .philosophy {
        flex-direction: row-reverse;
      }
      .vision {
        flex-direction: row;
      }
    }

    section.view4 {
      padding: 0rem 1rem;
      .heading {
        width: 100%;
        padding: 2rem 1rem;

        h1 {
          font-size: 3rem;
        }
        .btn {
          visibility: visible;
        }
      }

      .team-members {
        flex-direction: row;
      }
    }

    section.view5 {
      flex-direction: row;

      .top,
      .bottom {
        width: 50%;
      }

      .bottom {
        padding: 4rem;
        .text {
          p {
            font-size: 1rem;
          }
          h1 {
            font-size: clamp(3rem, 3rem, 4rem);
          }
        }
      }
    }

    section.footer-grid {
      grid-template-columns: 1fr 4fr;

      grid-template-areas:
        "block1 block1"
        "block2 block3"
        "block2 block4";

      .block1 {
        padding: 4rem;
        flex-direction: row;
        align-items: end;
        justify-content: space-between;

        .text {
          width: 75%;
          h1 {
            font-size: 5rem;
          }
        }
      }

      .block2 {
        padding: 2rem;
      }

      .block3 {
        padding: 3rem;
        flex-direction: row;
      }

      .block4 {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }
}
