<<<<<<< HEAD
$headingfont: "chill";
$parafont: "satoshi";
$primary-white: #f4f2ed;
$primary-back: #1E1E1E;
=======
$headingfont: "chill";
$parafont: "satoshi";
$primary-white: #f4f2ed;
$primary-back: #1E1E1E;
>>>>>>> c5f371d1b7fc13aeae64b37fed14ca90afa5bd63
$primary-grey: #f4f2ed99;